body{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    background-color:lavender;
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    font-size:16px;
}

.the-title {
    font-size: 50px;
}

.grid-container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    /* padding-left: 2%;
    padding-right: 2%; */
    height: 600px;
}

.code-area{
    /* background-color: white; */
    border-radius: 1em;
    padding-bottom: 5%;
}

.code-box{
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

.code-area-header-editor{
    font-size: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: left;
}

.code-area-header-shell{
    font-size: 20px;
    display: grid;
    grid-template-columns: 40% 29% 2% 29%;
    text-align: left;
}

button {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    background-color: mediumpurple;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    height:75%;
}

.question {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;

    -moz-border-radius: 18px; /* or 50% */
    border-radius: 18px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

textarea {
    font-size: 18px;
}